main {
  
  ul {
    @include justify(space-around);
    margin: 10px;

    li {
      list-style: none;
      width: 25%;

      img {
        border-radius: 30px;
        width: 100%;
      }
      .price{
        @include justify(flex-start);

        p{
          margin: 5px;
        }
        span{
          @include justify(flex-start);
        }
        svg{
          font-size: 1.3rem;
        }
        .check{
          color: green;
          font-size: 1.6rem;
        }
      }
      button{
        display: block;
      }
    }
  }
}
