@font-face {
  font-family: "font1";
  src: url(./src/assets/fonts/Roboto-Regular.ttf);
}
$font1: "font1", sans-serif;
$color1: rgb(9, 9, 9);
$color2: rgb(245, 245, 245);

@mixin justify($content) {
  display: flex;
  justify-content: $content;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: $font1;
  font-size: 16px;
  overflow: hidden;
}
#root{
  height: inherit;
  display: grid;
  grid-template-rows: 15% 75% 10%;
}
button {
  padding: 10px;
  cursor: pointer;
}
